body {
    padding: 0;
    margin: 0;
}

.city {
    background: #000000;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: flex-start;
    min-width: 340px;
    position: relative;
}

.hader-container-city {
    background-image: url(/assets/images/CITIES.png);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    height: 850px;
    min-height: 850px;
    position: relative;
    height: 100%;
}

.header-city {
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex: 1;
    position: relative;
}

.hader-title-city {
    color: #ffffff;
    text-align: center;
    font-family: "ArcaneNine-Regular", sans-serif;
    font-size: 95px;
    font-weight: 400;
    position: relative;
    flex: 1;
}

.devider-section-container-down {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    height: 100px;
    max-height: 100px;
    position: relative;
}

.devider-img {
    align-self: stretch;
    flex-shrink: 0;
    height: 50px;
    position: relative;
    object-fit: cover;
}

.devider-section-container-up {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    height: 100px;
    max-height: 100px;
    position: relative;
}

.devider-img2 {
    align-self: stretch;
    flex-shrink: 0;
    height: 50px;
    position: relative;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(1, -1);
    object-fit: cover;
}

.intro {
    background: #000000;
    padding: 50px 10px 50px 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.city-bio {
    color: #ffffff;
    text-align: center;
    font-family: "Montserrat-Regular", sans-serif;
    font-size: 20px;
    font-weight: 400;
    position: relative;
    align-self: stretch;
    flex: 1;
    max-width: 1140px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.champions-section {
    background: #000000;
    padding: 50px 0px 50px 0px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.section-title-div {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.section-title {
    color: #ffffff;
    text-align: center;
    font-family: "ArcaneNine-Regular", sans-serif;
    font-size: 36px;
    font-weight: 400;
    position: relative;
    flex: 1;
    height: 45px;
}

.characters-cards {
    padding: 20px 0px 20px 0px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.character-card {
    background: #414141;
    border-style: solid;
    border-color: #8f6848;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: flex-end;
    flex-shrink: 0;
    width: 320px;
    height: 508px;
    position: relative;
}

.character-name {
    background: rgba(0, 0, 0, 0.4);
    border-style: solid;
    border-color: #8f6848;
    border-width: 1px 0px 1px 0px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex: 1;
    max-height: 50px;
    position: relative;
}

.champion-name {
    color: #8f6848;
    text-align: center;
    font-family: "Montserrat-Regular", sans-serif;
    font-size: 19.104751586914062px;
    font-weight: 400;
    position: relative;
    align-self: stretch;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-overflow: ellipsis;
    overflow: hidden;
}

.character-region {
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex: 1;
    max-height: 100px;
    position: relative;
}

.champion-region {
    color: #8f6848;
    text-align: center;
    font-family: "Montserrat-Regular", sans-serif;
    font-size: 19.104751586914062px;
    font-weight: 400;
    position: relative;
    align-self: stretch;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-overflow: ellipsis;
    overflow: hidden;
}

.video-section {
    background: #000000;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.section-title-div2 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    height: 50px;
    max-height: 50px;
    position: relative;
}

.section-title2 {
    color: #ffffff;
    text-align: center;
    font-family: "ArcaneNine-Regular", sans-serif;
    font-size: 36px;
    font-weight: 400;
    position: relative;
    align-self: stretch;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-embedded {
    background: #414141;
    border-style: solid;
    border-color: #8f6848;
    border-width: 1px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-shrink: 0;
    height: 956px;
    max-width: 1770px;
    min-height: 310px;
    max-height: 956.25px;
    position: relative;
}

.devider-section-container-updevider-section-container-up {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    height: 100px;
    max-height: 100px;
    position: relative;
}

.city-art-section {
    background: #000000;
    padding: 50px 40px 50px 40px;
    display: flex;
    flex-direction: column;
    gap: 80px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.art-container {
    padding: 0px 20px 0px 20px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.art-card {
    background: #414141;
    border-style: solid;
    border-color: #8f6848;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    height: 508px;
    min-width: 320px;
    max-width: 750px;
    position: relative;
}

.art-title-card {
    background: rgba(0, 0, 0, 0.5);
    border-style: solid;
    border-color: #8f6848;
    border-width: 1px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex: 1;
    max-height: 100px;
    position: relative;
}

.art-name {
    color: #8f6848;
    text-align: center;
    font-family: "Montserrat-Regular", sans-serif;
    font-size: 19.104751586914062px;
    font-weight: 400;
    position: relative;
    align-self: stretch;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-overflow: ellipsis;
    overflow: hidden;
}

.exploring-section {
    background: #000000;
    padding: 50px 10px 50px 10px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.exploring-title {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.exploring-cards {
    padding: 0px 40px 0px 40px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.exploring-card {
    background: #414141;
    border-style: solid;
    border-color: #8f6848;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    height: 508px;
    min-width: 320px;
    max-width: 750px;
    position: relative;
}

.exploring-card-title {
    background: rgba(0, 0, 0, 0.5);
    border-style: solid;
    border-color: #8f6848;
    border-width: 1px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex: 1;
    max-height: 100px;
    position: relative;
}

.explorig-title-card {
    color: #8f6848;
    text-align: center;
    font-family: "Montserrat-Regular", sans-serif;
    font-size: 19.104751586914062px;
    font-weight: 400;
    position: relative;
    align-self: stretch;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-overflow: ellipsis;
    overflow: hidden;
}

.footer {
    background: #000000;
    padding: 20px 0px 20px 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    min-height: 180px;
    position: relative;
}

.footer-logo {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    height: 50px;
    max-height: 50px;
    position: relative;
}

.a {
    color: #ffac67;
    text-align: center;
    font-family: "ArcaneNine-Regular", sans-serif;
    font-size: 64px;
    font-weight: 400;
    position: relative;
    align-self: stretch;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-nav {
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 14px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    height: 70px;
    position: relative;
}

.home {
    color: #ffffff;
    text-align: center;
    font-family: "ArcaneNine-Regular", sans-serif;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    flex: 1;
    min-width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.characters {
    color: #ffffff;
    text-align: center;
    font-family: "ArcaneNine-Regular", sans-serif;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    flex: 1;
    min-width: 73px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cities {
    color: #ffffff;
    text-align: center;
    font-family: "ArcaneNine-Regular", sans-serif;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    flex: 1;
    min-width: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lore {
    color: #ffffff;
    text-align: center;
    font-family: "ArcaneNine-Regular", sans-serif;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    flex: 1;
    min-width: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.episodes {
    color: #ffffff;
    text-align: center;
    font-family: "ArcaneNine-Regular", sans-serif;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    flex: 1;
    min-width: 61px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-copyrights-section {
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 14px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    height: 30px;
    max-height: 30px;
    position: relative;
}

.copyrights {
    color: #ffffff;
    text-align: center;
    font-family: "ArcaneNine-Regular", sans-serif;
    font-size: 12px;
    font-weight: 400;
    position: relative;
    flex: 1;
    min-width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}