body {
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 340px) {
    .main-page {
        background: #000000;
        display: flex;
        flex-direction: column;
        gap: 0px;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        position: relative;
    }

    .hader-container-lore {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 89.51385617256165%);
        padding: 100px 10px 10px 10px;
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-items: center;
        justify-content: center;
        align-self: stretch;
        flex-shrink: 0;
        min-height: 850px;
        max-height: 850px;
        position: relative;
    }

    .arcane-logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header-lore {
        gap: 10px;
        align-items: center;
        justify-content: center;
        height: 251px;
    }

    .main-btn {
        background: rgba(0, 0, 0, 0.46);
        border-radius: 50px;
        border-style: solid;
        border-color: var(--main-color);
        border-width: 1px;
        padding: 0px 40px 0px 40px;
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        justify-content: center;
        width: 100%;
        flex-shrink: 0;
        height: 40px;
        position: relative;
    }

    .devider-section-container-down {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        justify-content: center;
        align-self: stretch;
        flex-shrink: 0;
        height: 100px;
        max-height: 100px;
        position: relative;
    }

    .devider-img {
        align-self: stretch;
        flex-shrink: 0;
        height: 50px;
        position: relative;
        object-fit: cover;
    }

    .devider-section-container-up {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        justify-content: center;
        align-self: stretch;
        flex-shrink: 0;
        height: 100px;
        max-height: 100px;
        position: relative;
    }

    .devider-img2 {
        align-self: stretch;
        flex-shrink: 0;
        height: 50px;
        position: relative;
        transform-origin: 0 0;
        transform: rotate(0deg) scale(1, -1);
        object-fit: cover;
    }

    .champions-section-main {
        text-align: center;
        background: #000000;
        padding: 50px 0px 50px 0px;
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-items: center;
        justify-content: flex-start;
        align-self: stretch;
        flex-shrink: 0;
        position: relative;
    }

    .characters-cards-main {
        padding: 20px 40px 20px 40px;
        display: flex;
        flex-direction: row;
        gap: 40px;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        align-content: center;
        align-self: stretch;
        flex-shrink: 0;
        position: relative;
    }

    .character-car-main {
        background: #414141;
        border-style: solid;
        border-color: #8f6848;
        border-width: 1px;
        display: flex;
        flex-direction: column;
        gap: 0px;
        align-items: center;
        justify-content: flex-end;
        flex: 1;
        height: 508px;
        min-width: 300px;
        position: relative;
    }

    .character-name {
        background: rgba(0, 0, 0, 0.4);
        border-style: solid;
        border-color: #8f6848;
        border-width: 1px 0px 1px 0px;
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        justify-content: center;
        align-self: stretch;
        flex: 1;
        max-height: 50px;
        position: relative;
    }

    .champion-name {
        color: #8f6848;
        text-align: center;
        font-family: "Montserrat-Regular", sans-serif;
        font-size: 19.104751586914062px;
        font-weight: 400;
        position: relative;
        align-self: stretch;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .character-region {
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        justify-content: center;
        align-self: stretch;
        flex: 1;
        max-height: 100px;
        position: relative;
    }

    .champion-region {
        color: #8f6848;
        text-align: center;
        font-family: "Montserrat-Regular", sans-serif;
        font-size: 19.104751586914062px;
        font-weight: 400;
        position: relative;
        align-self: stretch;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .characters-cards-main2 {
        padding: 20px 0px 20px 0px;
        display: flex;
        flex-direction: row;
        gap: 40px;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        align-content: center;
        align-self: stretch;
        flex-shrink: 0;
        position: relative;
    }

    .character-car-main2 {
        background: #414141;
        border-style: solid;
        border-color: #8f6848;
        border-width: 1px;
        display: flex;
        flex-direction: column;
        gap: 0px;
        align-items: center;
        justify-content: flex-end;
        flex-shrink: 0;

    }
}

@media (max-width: 1200px) {
    .cards-layout {
        gap: 25px;
    }
}

@media (max-width: 992px) {
    .cards-layout {
        gap: 20px;
    }
}

@media (max-width: 768px) {
    .card {
        max-width: 280px;
        height: 450px;
    }

    .cards-layout {
        gap: 15px;
    }
}

@media (max-width: 576px) {
    .card {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .cards-layout {
        gap: 10px;
    }
}


.main-page {
    background: #000000;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    position: relative;
}

.hader-container-lore {

    background: linear-gradient(180deg,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 1) 89.51385617256165%);
    padding: 100px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    min-height: 850px;
    max-height: 850px;
    position: relative;
}

.arcane-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-lore {
    gap: 10px;
    align-items: center;
    justify-content: center;
    height: 251px;
}

.main-btn {
    background: rgba(0, 0, 0, 0.46);
    border-radius: 50px;
    border-style: solid;
    border-color: var(--main-color);
    border-width: 1px;
    padding: 0px 40px 0px 40px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-shrink: 0;
    height: 40px;

    position: relative;
}


.devider-section-container-down {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    height: 100px;
    max-height: 100px;
    position: relative;
}

.devider-img {
    align-self: stretch;
    flex-shrink: 0;
    height: 50px;
    position: relative;
    object-fit: cover;
}

.devider-section-container-up {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    height: 100px;
    max-height: 100px;
    position: relative;
}

.devider-img2 {
    align-self: stretch;
    flex-shrink: 0;
    height: 50px;
    position: relative;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(1, -1);
    object-fit: cover;
}

.champions-section-main {
    background: #000000;
    padding: 50px 0px 50px 0px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}



.characters-cards-main {
    padding: 20px 40px 20px 40px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.character-car-main {
    background: #414141;
    border-style: solid;
    border-color: #8f6848;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    height: 508px;
    min-width: 300px;
    position: relative;
}

.character-name {
    background: rgba(0, 0, 0, 0.4);
    border-style: solid;
    border-color: #8f6848;
    border-width: 1px 0px 1px 0px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex: 1;
    max-height: 50px;
    position: relative;
}

.champion-name {
    color: #8f6848;
    text-align: center;
    font-family: "Montserrat-Regular", sans-serif;
    font-size: 19.104751586914062px;
    font-weight: 400;
    position: relative;
    align-self: stretch;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-overflow: ellipsis;
    overflow: hidden;
}

.character-region {
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex: 1;
    max-height: 100px;
    position: relative;
}

.champion-region {
    color: #8f6848;
    text-align: center;
    font-family: "Montserrat-Regular", sans-serif;
    font-size: 19.104751586914062px;
    font-weight: 400;
    position: relative;
    align-self: stretch;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-overflow: ellipsis;
    overflow: hidden;
}

.chars-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.characters-cards-main2 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.character-car-main2 {
    background: #414141;
    border-style: solid;
    border-color: #8f6848;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: flex-end;
    flex-shrink: 0;
    height: 508px;
    position: relative;
    padding: 0;

}

.exploring-section {
    background: #000000;
    padding: 50px 10px 50px 10px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.exploring-cards {
    padding: 0px 40px 0px 40px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.exploring-card {
    background: #414141;
    border-style: solid;
    border-color: #8f6848;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    height: 508px;
    min-width: 320px;
    max-width: 750px;
    position: relative;
}

.exploring-card-title {
    background: rgba(0, 0, 0, 0.5);
    border-style: solid;
    border-color: #8f6848;
    border-width: 1px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex: 1;
    max-height: 100px;
    position: relative;
}

.explorig-title-card {
    color: #8f6848;
    text-align: center;
    font-family: "Montserrat-Regular", sans-serif;
    font-size: 19.104751586914062px;
    font-weight: 400;
    position: relative;
    align-self: stretch;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-overflow: ellipsis;
    overflow: hidden;
}

.arcane-seasons-section {
    background: #000000;
    padding: 50px 10px 50px 10px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.seasons-cards {
    padding: 0px 40px 0px 40px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.seasons-card {
    background: #414141;
    border-style: solid;
    border-color: #8f6848;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    height: 508px;
    min-width: 320px;
    max-width: 750px;
    position: relative;
}

.seasons-card-title {
    background: rgba(0, 0, 0, 0.5);
    border-style: solid;
    border-color: #8f6848;
    border-width: 1px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex: 1;
    max-height: 100px;
    position: relative;
}

.seasons-title {
    color: #8f6848;
    text-align: center;
    font-family: "Montserrat-Regular", sans-serif;
    font-size: 19.104751586914062px;
    font-weight: 400;
    position: relative;
    align-self: stretch;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-overflow: ellipsis;
    overflow: hidden;
}



.cards-layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin: 0 -15px;
}

.card {
    background: black;
    cursor: pointer;
    overflow: hidden;
    border: solid 1px var(--main-color);
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 0;
    transition: transform 0.2s ease-in-out;
    margin: 0;
    padding: 0;
}

.card:hover {
    transform: translateY(-10px);
}

.card-body {
    background-image: url(/arcane/assets/images/ekko-card.png);
    background-size: cover;
    font-size: 1rem;
    width: 320px;
    padding: 0;
    transition: transform 0.3s ease-in-out;
}

.card:hover .card-body {
    transform: scale(1.05);
}


.empty-space-card {
    height: 100%;
}

.champ-name-and-city {
    width: 100%;
    position: absolute;
    bottom: -60px;
    transition: bottom 0.4s ease;
}

.card:hover .champ-name-and-city {
    bottom: 10px;
}

.card-text {
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.808);
}

.champ-name {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: solid 1px var(--main-color);
    height: 50px;
    margin: 0;
    color: var(--main-color);
}

.city-name {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    border-top: solid 1px var(--main-color);
    margin: 0;
    color: var(--main-color);
}
