body {
    margin: 0;
    padding: 0;
    background: var(--bg-color);
    gap: 0px;
    width: 100%;
    position: relative;
}

@media only screen and (max-width: 340px) {


    .hader-container-lore {
        padding: 0px 10px 25vh 10px;
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-items: center;
        justify-content: center;
        align-self: stretch;
        flex-shrink: 0;
        height: 20vh;
        min-height: 850px;
        max-height: 100vh;
        position: relative;
    }

    .arcane-logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header-lore {
        gap: 10px;
        align-items: center;
        justify-content: center;
        height: 251px;
    }

    .main-btn {
        background: rgba(0, 0, 0, 0.46);
        border-style: solid;
        border-color: var(--main-color);
        border-width: 1px;
        padding: 0px 40px 0px 40px;
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        justify-content: center;
        width: 100%;
        flex-shrink: 0;
        height: 40px;
        position: relative;
    }



    .devider-section-container-down {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        justify-content: center;
        align-self: stretch;
        flex-shrink: 0;
        height: 100px;
        max-height: 100px;
        position: relative;
    }

    .devider-img {
        align-self: stretch;
        flex-shrink: 0;
        height: 50px;
        position: relative;
        object-fit: cover;
    }

    .devider-section-container-up {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        justify-content: center;
        align-self: stretch;
        flex-shrink: 0;
        height: 100px;
        max-height: 100px;
        position: relative;
    }

    .devider-img2 {
        align-self: stretch;
        flex-shrink: 0;
        height: 50px;
        position: relative;
        transform-origin: 0 0;
        transform: rotate(0deg) scale(1, -1);
        object-fit: cover;
    }

    .champions-section-main {
        text-align: center;
        padding: 50px 0px 50px 0px;
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-items: center;
        justify-content: flex-start;
        align-self: stretch;
        flex-shrink: 0;
        position: relative;
    }

    .characters-cards-main {
        padding: 20px 40px 20px 40px;
        display: flex;
        flex-direction: row;
        gap: 40px;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        align-content: center;
        align-self: stretch;
        flex-shrink: 0;
        position: relative;
    }

    .character-car-main {
        border-style: solid;
        border-color: #927345;
        border-width: 1px;
        display: flex;
        flex-direction: column;
        gap: 0px;
        align-items: center;
        justify-content: flex-end;
        flex: 1;
        height: 508px;
        min-width: 300px;
        position: relative;
    }

    .character-name {
        background: rgba(0, 0, 0, 0.4);
        border-style: solid;
        border-color: #927345;
        border-width: 1px 0px 1px 0px;
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        justify-content: center;
        align-self: stretch;
        flex: 1;
        max-height: 50px;
        position: relative;
    }

    .champion-name {
        color: #927345;
        text-align: center;
        font-family: var(--second-font-M);
        font-size: 19.104751586914062px;
        font-weight: 400;
        position: relative;
        align-self: stretch;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .character-region {
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        justify-content: center;
        align-self: stretch;
        flex: 1;
        max-height: 100px;
        position: relative;
    }

    .champion-region {
        color: #927345;
        text-align: center;
        font-family: var(--second-font-M);
        font-size: 19.104751586914062px;
        font-weight: 400;
        position: relative;
        align-self: stretch;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .characters-cards-main2 {
        padding: 20px 0px 20px 0px;
        display: flex;
        flex-direction: row;
        gap: 40px;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        align-content: center;
        align-self: stretch;
        flex-shrink: 0;
        position: relative;
    }

    .character-car-main2 {
        background: #414141;
        border-style: solid;
        border-color: #927345;
        border-width: 1px;
        display: flex;
        flex-direction: column;
        gap: 0px;
        align-items: center;
        justify-content: flex-end;
        flex-shrink: 0;

    }
}

@media (max-width: 1200px) {
    .cards-layout {
        gap: 25px;
    }
}

@media (max-width: 992px) {
    .cards-layout {
        gap: 20px;
    }

    .city-card-home {
        max-height: 300px;
    }
}

@media (max-width: 768px) {
    .card {
        max-width: 280px;
        height: 450px;
    }

    .cards-layout {
        gap: 15px;
    }

    .exploring-cards {
        padding: 0px 20px 0px 20px;
    }

    .exploring-card {
        flex: 1 0 100%;
        height: auto;
        min-width: 0;
    }

    .city-card-home {
        max-height: 300px;
    }
}

@media (max-width: 576px) {

    .card {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .cards-layout {
        gap: 10px;
    }

    .city-card-home {
        max-height: 119px;
    }
}


.hader-container-lore {
    background-image: url(/assets/images/header-main.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    min-height: 850px;
    max-height: 850px;
    position: relative;
}

.arcane-logo {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;

}

.header-lore {
    gap: 10px;
    align-items: center;
    justify-content: center;
    height: 251px;
}

.container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-btn {
    font-family: "Arcane-Nine";
    color: white;
    border-radius: 50px;
    background: rgba(0, 0, 0, 0.46);
    border-style: solid;
    border-color: var(--main-color);
    border-width: 1px;
    padding: 0px 40px 0px 40px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 200px;
    flex-shrink: 0;
    height: 40px;
    position: relative;
    transition: background 0.2s ease-in-out, transform 0.2s ease-in-out;

}

.main-btn:hover {
    background: var(--main-color);
    transform: scale(1.02);
}




.champions-section-main {
    padding: 50px 0px 50px 0px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    margin-bottom: 4%;
}



.characters-cards-main {
    padding: 20px 40px 20px 40px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.character-car-main {
    background: #414141;
    border-style: solid;
    border-color: #927345;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    height: 508px;
    min-width: 300px;
    position: relative;
}

.character-name {
    background: rgba(0, 0, 0, 0.4);
    border-style: solid;
    border-color: #927345;
    border-width: 1px 0px 1px 0px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex: 1;
    max-height: 50px;
    position: relative;
}

.champion-name {
    color: #927345;
    text-align: center;
    font-family: var(--second-font-M);
    font-size: 19.104751586914062px;
    font-weight: 400;
    position: relative;
    align-self: stretch;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-overflow: ellipsis;
    overflow: hidden;
}

.character-region {
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex: 1;
    max-height: 100px;
    position: relative;
}

.champion-region {
    color: #927345;
    text-align: center;
    font-family: var(--second-font-M);
    font-size: 19.104751586914062px;
    font-weight: 400;
    position: relative;
    align-self: stretch;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-overflow: ellipsis;
    overflow: hidden;
}

.chars-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.characters-cards-main2 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.character-car-main2 {
    background: #414141;
    border-style: solid;
    border-color: #927345;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: flex-end;
    flex-shrink: 0;
    height: 508px;
    position: relative;
    padding: 0;

}

.exploring-section {
    padding: 50px 10px 50px 10px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.exploring-cards {
    padding: 0px 40px 0px 40px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    width: 100%;
}

.exploring-card {
    cursor: pointer;
    overflow: hidden;
    background: #414141;
    border-style: solid;
    border-color: #927345;
    border-width: 2px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    height: 508px;
    min-width: 300px;
    max-width: 100%;
    position: relative;
}


.zaun {
    background-image: url(/assets/videos/);
    background-position: center;
    background-size: cover;
}

.exploring-card-title {
    background: rgba(0, 0, 0, 0.5);
    border-style: solid;
    border-color: #927345;
    border-width: 1px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex: 1;
    max-height: 100px;
    position: relative;
}


.explorig-title-card {
    color: #927345;
    text-align: center;
    font-family: var(--second-font-M);
    font-size: 19.104751586914062px;
    font-weight: 400;
    position: relative;
    align-self: stretch;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-overflow: ellipsis;
    overflow: hidden;
}

.arcane-seasons-section {
    padding: 50px 10px 50px 10px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.seasons-cards {
    padding: 0px 40px 0px 40px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    transition: background-image 0.2s ease-in-out;
}

.seasons-card {
    border: solid 2px var(--main-color);
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    height: 508px;
    min-width: 320px;
    max-width: 750px;
    position: relative;
}

.seasons-card-title {
    background: rgba(0, 0, 0, 0.5);
    border-style: solid;
    border-color: #927345;
    border-width: 1px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex: 1;
    max-height: 100px;
    position: relative;
}

.seasons-title {
    color: #927345;
    text-align: center;
    font-family: var(--main-font);
    font-size: 2rem;
    position: relative;
    align-self: stretch;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-overflow: ellipsis;
    overflow: hidden;
}



.cards-layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin: 0 -15px;
}

.card {
    background: var(--bg-color);
    cursor: pointer;
    overflow: hidden;
    border: solid 1px var(--main-color);
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 0;
    transition: transform 0.2s ease-in-out, border 0.2s ease-in;
    margin: 0;
    padding: 0;
}

.card:hover {
    border: solid 1px var(--main-color);
    transform: translateY(-10px);
}

.chars-link-card{
    background-image: url(/assets/images/chars-card.png);
}

.city-link-card{
    background-image: url(/assets/images/city-card.png);
}

.lore-link-card{
    background-image: url(/assets/images/lore-card.png);
}

.vi-champ{
    background-image: url(/assets/images/champs/vi-card.png); 
}

.jinx-champ{
    background-image: url(/assets/images/champs/jinx-card.png); 
}

.ekko-champ{
    background-image: url(/assets/images/champs/ekko-card.png); 
}

.jayce-champ{
    background-image: url(/assets/images/champs/jayce-card.png); 
}

.victor-champ{
    background-image: url(/assets/images/champs/victor-card.png); 
}

.cait-champ{
    background-image: url(/assets/images/champs/cait-card.png); 
}

.card-body {
    font-size: 1rem;
    width: 320px;
    padding: 0;
    transition: transform 0.3s ease-in-out;
}

.card:hover .card-body {
    transform: scale(1.05);
}


.empty-space-card {
    height: 100%;
}

.champ-name-and-city {
    width: 100%;
    position: absolute;
    bottom: -120px;
    transition: bottom 0.4s ease;
}

.card:hover .champ-name-and-city {
    bottom: 10px;
}

.card-text {
    width: 100%;
    text-align: center;
}

.champ-name {
    font-family: var(--second-font-M);
    background-color: rgba(0, 0, 0, 0.808);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: solid 1px #927345;
    height: 50px;
    margin: 0;
    color: var(--main-color);
}

.champ-name:hover {
    background-color: var(--main-color);
    color: #000000;
}

.city-name {
    font-family: var(--second-font-B);
    font-size: 1.2rem;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    border-top: solid 1px var(--main-color);
    margin: 0;
    color: var(--main-color);
}



.card-links-main {
    width: 100%;
    position: relative;
}

.card:hover .card-link-main {
    bottom: -20px;
}

.card-link-main {
    font-family: var(--main-font);
    font-size: 1.5rem;
    border-top: solid 1px var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: -500px;
    height: 500px;
    color: white;
    background-color: #000000b9;
    transition: bottom 0.4s ease;
    backdrop-filter: blur(2px);
    text-decoration: none;

}
.card-link-main:visited,
.card-link-main:hover {
    text-decoration: none;  
}




.city-card-home {
    background-color: #000000;
    outline: solid 1px var(--main-color);
    position: relative;
    cursor: pointer;
    background: transparent;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-end;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    height: 500px;
    min-width: 320px;
    width: 90vw;
    position: relative;
    overflow: hidden;
    padding: 0;
    box-shadow: none;
}


.city-name-div {
    background: rgba(0, 0, 0, 0.54);
    border-style: solid;
    border-color: #927345;
    border-width: 1px 0px 0px 0px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 70px;
    position: relative;
    width: 100%;
    bottom: -70px;
    transition: transform 0.3s ease-in-out;
    z-index: 2;
}

.city-card-home:hover .city-name-div {
    transform: translateY(-70px);
}

.city-card-home p {
    padding-top: 10px;
    font-family: var(--main-font);
    font-size: 2rem;

}

.city-name-home {
    color: #ffffff;
    text-align: center;
    font-family: var(--main-font);
    font-size: 12px;
    font-weight: 400;
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-video {
    position: absolute;
    top: -5px;
    left: 0;
    width: 100%;
}

.card-video-noxus {
    position: absolute;
    top: -5px;
    left: 0;
    width: 100%;
}

.season1 {
    cursor: pointer;
    background: url(/assets/images/season1.png) center / cover no-repeat;
    transition: transform 0.2s ease-in-out;
}
.season2 {
    cursor: pointer;
    background: url(/assets/images/season2.png) center / cover no-repeat;
    transition: transform 0.2s ease-in-out;
}

.season1:hover,
.season2:hover {
    transform: scale(1.05);
}
