body {
  padding: 0;
  margin: 0;
  background: var(--bg-color);
}

.lore {
  background: var(--bg-color);
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  min-width: 340px;
  position: relative;
}

.header-container-lore {
  background: url(/assets/images/lore.jpg) center / cover no-repeat;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  min-height: 850px;
  max-height: 850px;
  position: relative;
}

.header-title-lore {
  color: rgb(103, 71, 31);
  background: -webkit-linear-gradient(bottom, rgb(103, 71, 31), rgb(203, 172, 98)) text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-family: var(--main-font);
  font-size: 95px;
  font-weight: 400;
  position: relative;
}

.devider-section-container-down,
.devider-section-container-up {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  height: 100px;
  max-height: 100px;
  position: relative;
}

.devider-img {
  height: 50px;
  object-fit: cover;
}

.devider-img2 {
  height: 50px;
  position: relative;
  transform: rotate(180deg);
  object-fit: cover;
}

.intro {
  padding: 50px 40px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.lore-p {
  color: #ffffff;
  text-align: left;
  font-family: var(--second-font-R);
  font-size: 1.2rem;
  font-weight: 400;
  max-width: 1100px;
}
