
.navbar {
  width: 100%;
  padding: 1.6rem 2rem;
  font-family: var(--main-font);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  backdrop-filter: blur(10px);
  background: var(--bg-gradient);
  border-bottom: solid 1px transparent;
  border-image: linear-gradient(
      90deg,
      rgba(143, 104, 72, 0) 0%,
      rgba(143, 104, 72, 1) 50%,
      rgba(143, 104, 72, 0) 100%
  ) 1;
  border-image-slice: 1;
}

@media (min-width: 992px) {
  .navbar-nav {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      gap: 6rem;
  }
}

.navbar-nav .nav-link {
  color: white;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: var(--secondary-color);
}

.navbar-nav .nav-link.active {
  color: var(--secondary-color);
}

.navbar-toggler {
  filter: invert(1);
  align-self: flex-end;
  border: none;
}
